.AllianceOfStates {
  margin-top: 115px;
}
.aos-statment {
  margin-left: 100px;
  margin-right: 100px;
}
.row p {
  margin: 0;
  text-align: left;
}
.row h5 {
  text-align: left;
}
.card-text a {
  color: red;
  text-decoration: none;
}
.card-text a:hover {
  color: blue;
  text-decoration: underline;
}
