.CfaStaff {
  margin-top: 115px;
}
.card {
  margin: auto;
}
.jumbotron {
  background-image: url("../images/samuel-branch-ZPVisr0s_hQ-unsplash.jpg");
  background-size: cover;
  height: 100%;
}
.container h1 {
  color: white;
}
